.portfolio {
    background-color: white;
    list-style: none;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.1;
    color: #2E2F42;
}
.portfolio-title3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2E2F42;
}
.portfolio-desc {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}
